@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --pri-color-blue: hsl(203, 65%, 68%);
  --pri-color-lightBlue: hsl(202, 62%, 84%);
  --pri-color-black: hsl(0, 0%, 0%);
  --pri-color-green: hsl(169, 58%, 49%);
  --pri-color-white: hsl(0, 0%, 100%);

  --bg-color-dark: hsl(0, 0%, 13%);
  --bg-color-light: hsl(0, 0%, 100%);

  --container-size: 1024px;

  background-color: var(--bg-color-light);
}

body {
  position: relative;
  font-size: 16px;
  padding: 0;
  margin: 0;

  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  border: none;
}

.container {
  max-width: var(--container-size);
  margin: 0 auto;
  padding: 0 1rem;
}

.carousel-and-nav-container {
  display: block;
  padding: 3rem 0;
}

@media only screen and (min-width: 768px) {
  .carousel-and-nav-container {
    display: flex;
    justify-content: space-between;
  }
}

/* 
================================================
Begin Header Styles
================================================
*/

.header {
  padding: 0.75rem 0;
  background-color: var(--bg-color-dark);
}

.header__logo {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--pri-color-white);
}

@media only screen and (min-width: 768px) {
  .header__logo {
    font-size: 1.75rem;
  }
}

/* 
================================================
End Header Styles
================================================
*/

/* 
================================================
Begin Dropdown Styles
================================================
*/

.nav__container {
  max-width: 9.5rem;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
}

.nav__dropdown-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  color: var(--pri-color-blue);
  background-color: var(--bg-color-dark);
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.151);
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease-in;
}

.nav__dropdown-toggle-btn:hover {
  color: var(--pri-color-black);
  background-color: var(--pri-color-blue);
}

.nav__dropdown-toggle-btn-text {
  font-size: 0.85rem;
  font-weight: 500;
}

.nav__dropdown-toggle-btn-icon {
  height: 1.25rem;
  width: 1.25rem;
  margin-left: 0.25rem;
}

.nav__dropdown {
  opacity: 0;
  visibility: hidden;

  background-color: var(--bg-color-dark);
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 1rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);

  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.nav__dropdown--show {
  opacity: 1;
  visibility: visible;
}

.nav__dropdown-item + .nav__dropdown-item {
  border-top: 1px solid rgb(59, 59, 59);
}

.nav__dropdown-item-btn {
  display: block;
  font-weight: 500;
  text-align: right;
  width: 100%;
  padding: 0.5rem 0.75rem;
  color: var(--pri-color-white);
  background-color: transparent;
  border-radius: 5px;
}

.nav__dropdown-item-btn:hover {
  background-color: var(--pri-color-blue);
  color: var(--pri-color-black);
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.nav__dropdown-item-btn--active {
  background-color: var(--pri-color-blue);
  color: var(--pri-color-black);
}

@media only screen and (min-width: 768px) {
  .nav__container {
    position: static;
    width: 25%;
    margin-left: 0;
  }
  .nav__dropdown-toggle-btn-text {
    font-size: 0.95rem;
  }
}

/* 
================================================
End Dropdown Styles
================================================
*/

/* 
================================================
Begin Carousel Styles
================================================
*/
.carousel {
  position: relative;
  width: 100%;
  height: 45vh;
  max-height: 28rem;
}

.carousel__btn {
  display: flex;
  position: absolute;
  padding: 0;
  background-color: var(--bg-color-dark);
  border-radius: 5px;
  z-index: 10;
  top: 50%; /*top doesn't take in the size of the btns*/
  transform: translateY(-50%);
}

.carousel__btn-icon {
  height: 2rem;
  width: 2rem;
  margin: auto;
  color: var(--pri-color-blue);
}

.carousel__btn--next {
  right: 0rem;
}

.carousel__btn--prev {
  left: 0rem;
}

.carousel__inner-container {
  position: relative;
  width: 75%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  transition-property: transform, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}

.carousel__item--active {
  opacity: 1;
  /* transform: translateX(0); */
}

.carousel__item--next {
  transform: translateX(-100%);
}

.carousel__item--prev {
  transform: translateX(100%);
}

.carousel__slide--active {
  display: block;
}

.carousel__img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.carousel__img-text {
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  right: 3rem;
  font-size: 1rem;
  padding: 0.25rem 0;
  color: var(--pri-color-blue);
  text-align: center;
  border-radius: 5px;
  max-width: 16rem;
  margin: 0 auto;
  background-color: rgba(33, 33, 33, 0.9);
}

@media only screen and (min-width: 768px) {
  .carousel {
    order: -1;
    width: 75%;
    margin: 0;
    height: 60vh;
  }

  .carousel__btn-icon {
    height: 2.5rem;
    width: 2.5rem;
    margin: auto;
    color: var(--pri-color-blue);
  }
}
/* 
================================================
End Carousel Styles
================================================
*/

/* 
================================================
Begin Footer Styles
================================================
*/

/* 
================================================
End Footer Styles
================================================
*/
